In [21]:
import pandas
import math

In [3]:
df = pandas.read_csv("iris.csv")

In [4]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
def separate_by_class(df):
    separated = dict()
    for i in range(len(df)):
        vector = df[i]
        class_value = vector[-1]
        if (class_value not in separated):
            separated[class_value] = list()
        separated[class_value].append(vector)
    return separated

In [6]:
dataset = [[3.393533211,2.331273381,0],
	[3.110073483,1.781539638,0],
	[1.343808831,3.368360954,0],
	[3.582294042,4.67917911,0],
	[2.280362439,2.866990263,0],
	[7.423436942,4.696522875,1],
	[5.745051997,3.533989803,1],
	[9.172168622,2.511101045,1],
	[7.792783481,3.424088941,1],
	[7.939820817,0.791637231,1]]
separated = separate_by_class(dataset)
for label in separated:
    print(label)
    for row in separated[label]:
        print(row)

0
[3.393533211, 2.331273381, 0]
[3.110073483, 1.781539638, 0]
[1.343808831, 3.368360954, 0]
[3.582294042, 4.67917911, 0]
[2.280362439, 2.866990263, 0]
1
[7.423436942, 4.696522875, 1]
[5.745051997, 3.533989803, 1]
[9.172168622, 2.511101045, 1]
[7.792783481, 3.424088941, 1]
[7.939820817, 0.791637231, 1]

In [7]:
def mean(numbers):
    return sum(numbers)/float(len(numbers))

In [8]:
m = mean(dataset[0])

In [9]:
print(m)

1.908268864

In [22]:
def std_dev(numbers):
    avg = mean(numbers)
    variance = sum([(x - avg)**2 for x in numbers]) / float(len(numbers) - 1)
    return math.sqrt(variance)

In [23]:
std = std_dev(dataset[0])

In [24]:
print(std)

1.7358618981911536

In [33]:
def summarise_dataset(dataset):
    summaries = [(mean(column), std_dev(column), len(column)) for column in zip(*dataset)]
    del(summaries[-1])
    return summaries

In [34]:
data = summarise_dataset(dataset)

In [35]:
print(data)

[(5.178333386499999, 2.7665845055177263, 10), (2.9984683241, 1.218556343617447, 10)]

In [42]:
def summarise_by_class(dataset):
    separated = separate_by_class(dataset)
    summaries = dict()
    for class_value, row in separated.items():
        summaries[class_value] = summarise_dataset(row)
    return summaries

In [43]:
summary = summarise_by_class(dataset)
for label in summary:
    print(label)
    for row in summary[label]:
        print(row)

0
(2.7420144012, 0.9265683289298018, 5)
(3.0054686692, 1.1073295894898725, 5)
1
(7.6146523718, 1.2344321550313704, 5)
(2.9914679790000003, 1.4541931384601618, 5)

In [50]:
def calc_probability(x, mean, std_dev):
    exponent = math.exp(-((x - mean)**2 / (2 * std_dev**2)))
    return (1 / (math.sqrt(2 * math.pi) * std_dev)) * exponent

In [53]:
x = 1
print(calc_probability(x, m, std))

0.20042170973282084