In [32]:
import pandas
import math

In [33]:
df = pandas.read_csv("sms_spam.csv")
df.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
df['type'] = df['type'].astype('category').cat.codes
df.head()

   type                                               text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [35]:
df['text'] = df['text'].astype('category').cat.codes
df.head()

   type  text
0     0  1127
1     0  3149
2     1  1049
3     0  4135
4     0  2805

In [36]:
def mean(numbers):
    return sum(numbers)/float(len(numbers))

In [37]:
def std_dev(numbers):
    avg = mean(numbers)
    variance = sum([(x - avg)**2 for x in numbers]) / float(len(numbers) - 1)
    return math.sqrt(variance)

In [46]:
def separate_by_class(dataset):
    separated = dict()
    for i in range(len(dataset)):
        vector = dataset[i]
        class_value = vector[-1]
        if (class_value not in separated):
            separated[class_value] = list()
        separated[class_value].append(vector)
    return separated

In [40]:
def summarise_dataset(dataset):
    summaries = [(mean(column), std_dev(column), len(column)) for column in zip(*dataset)]
    del(summaries[-1])
    return summaries

In [41]:
def summarise_by_class(dataset):
    separated = separate_by_class(dataset)
    summaries = dict()
    for class_value, row in separated.items():
        summaries[class_value] = summarise_dataset(row)
    return summaries

In [42]:
def calc_probability(x, mean, std_dev):
    exponent = math.exp(-((x - mean)**2 / (2 * std_dev**2)))
    return (1 / (math.sqrt(2 * math.pi) * std_dev)) * exponent

In [48]:
v = df[0]
print(v)

KeyError: 0

In [43]:
s = separate_by_class(df)

KeyError: 0