In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
%matplotlib inline
pd.pandas.set_option('display.max_columns', None);

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv('iris.csv')
df.head()

In [8]:
df.shape

(150, 5)

In [9]:
differ_species = [labels for labels in df['Species']]
differ_species_set = set(differ_species)
differ_species_set

{'setosa', 'versicolor', 'virginica'}

In [10]:
# Converting Categorical featues
dummies = pd.get_dummies(df.Species)
print(dummies)
df = df.drop('Species', axis = 1)
print(df.head())

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
# concatenating 
df = pd.concat([df, dummies], axis = 'columns')
df.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [12]:
# datasets into features and targets
y = df['Sepal.Length']
x = df.drop('Sepal.Length', axis = 1)
print(x)
print(y)

     Sepal.Width  Petal.Length  Petal.Width  setosa  versicolor  virginica
0            3.5           1.4          0.2       1           0          0
1            3.0           1.4          0.2       1           0          0
2            3.2           1.3          0.2       1           0          0
3            3.1           1.5          0.2       1           0          0
4            3.6           1.4          0.2       1           0          0
..           ...           ...          ...     ...         ...        ...
145          3.0           5.2          2.3       0           0          1
146          2.5           5.0          1.9       0           0          1
147          3.0           5.2          2.0       0           0          1
148          3.4           5.4          2.3       0           0          1
149          3.0           5.1          1.8       0           0          1

[150 rows x 6 columns]
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, Length: 150, dtype: float64

In [13]:
# Checking MultiCollinearity for independent variables or features

In [14]:
# Collinearity Using Correlation Matrix and scatter plot
print(x.corr())

              Sepal.Width  Petal.Length  Petal.Width    setosa  versicolor  \
Sepal.Width      1.000000     -0.428440    -0.366126  0.603348   -0.467703
Petal.Length    -0.428440      1.000000     0.962865 -0.922765    0.201754
Petal.Width     -0.366126      0.962865     1.000000 -0.887344    0.117899
setosa           0.603348     -0.922765    -0.887344  1.000000   -0.500000
versicolor      -0.467703      0.201754     0.117899 -0.500000    1.000000
virginica       -0.135645      0.721011     0.769445 -0.500000   -0.500000

              virginica
Sepal.Width   -0.135645
Petal.Length   0.721011
Petal.Width    0.769445
setosa        -0.500000
versicolor    -0.500000
virginica      1.000000

In [34]:
x_train = x[:-30]
y_train = y[:-30]
x_test = x[-30:]
y_test = y[-30:]

In [35]:
print(x_train)
print(y_train)

     Sepal.Width  Petal.Length  Petal.Width  setosa  versicolor  virginica
0            3.5           1.4          0.2       1           0          0
1            3.0           1.4          0.2       1           0          0
2            3.2           1.3          0.2       1           0          0
3            3.1           1.5          0.2       1           0          0
4            3.6           1.4          0.2       1           0          0
..           ...           ...          ...     ...         ...        ...
115          3.2           5.3          2.3       0           0          1
116          3.0           5.5          1.8       0           0          1
117          3.8           6.7          2.2       0           0          1
118          2.6           6.9          2.3       0           0          1
119          2.2           5.0          1.5       0           0          1

[120 rows x 6 columns]
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
115    6.4
116    6.5
117    7.7
118    7.7
119    6.0
Name: Sepal.Length, Length: 120, dtype: float64

In [36]:
# Create linear regression object
regr = linear_model.LinearRegression()

In [37]:
# Train the model using the training sets
regr.fit(x_train, y_train)

LinearRegression()

In [38]:
predictions = regr.predict(x_test)
print(predictions)
print(y_test)

[6.62156637 5.88017774 7.40097968 5.92571784 6.77413593 7.12267043
 5.89474357 6.08626202 6.4220733  6.94571782 6.94357312 7.68265994
 6.37254589 6.2967928  6.66173575 6.85249291 6.59457941 6.64671072
 6.00177302 6.41363949 6.43403524 6.06111767 6.04516842 6.79054437
 6.57602627 6.09209194 5.85364998 6.24067418 6.47512883 6.25524001]
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, dtype: float64

In [39]:
print("Mean Squared Error", mean_squared_error(y_test, predictions))

Mean Squared Error 0.13059338330166229

In [40]:
# Coefficient of predictions if 1 then perfect model
print("Coefficient of Determination", r2_score(y_test, predictions))

Coefficient of Determination 0.5926876733729691